@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

a {
  @apply text-orange-600;

  @variant dark {
    @apply text-orange-400;
  }
}

.my-name::after {
  content: "fjql";
}

.my-name:hover::after {
  content: "Frederick Lim";
}
