---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>fjql</title>
		<style>
			body {
				height: 100dvh;

				display: flex;
				align-items: center;
				justify-content: center;

				font-family: monospace;
			}
		
			#wip-tape {
				height: 48px;
				width: 100dvw;

				display: flex;
				align-items: center;
				justify-content: center;

				text-align: center;

				background-image: repeating-linear-gradient(
					-45deg,
					yellow,
					yellow 30px,
					black 30px,
					black 50px
				);

				#wip-tag {
					height: 48px;

					position: relative;
					z-index: 3;

					display: flex;
					align-items: center;
					justify-content: center;

					line-height: 1.25em;

					padding: 0px 32px;

					background-color: yellow;
					color: black;

					p > span#big {
						font-size: 1.75em;
						font-weight: bolder;
						font-variant: small-caps;
					}
				}

				@media screen and (max-width: 400px) {
					height: 72px;

					#wip-tag {
						height: 72px;
						width: 70vw;

						padding: 0px 8px;
					}
				}
			}
		</style>
	</head>
	<body>
		<div id="wip-tape">
			<div id="wip-tag">
				Website Under Construction				
			</div>
		</div>
	</body>
</html>
