---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import ConstructionTape from "../components/ConstructionTape.astro";
---

<BaseLayout>
  <main
    class="h-dvh w-dvw flex flex-col items-center justify-center gap-3 font-mono"
  >
    <div class="w-3/4 xl:w-1/2 flex flex-col content-center gap-3">
      <div class="w-full leading-2">
        <p class="text-gray-400 font-semibold">hi, i'm</p>
        <h1 class="text-4xl font-bold">Frederick Lim</h1>
      </div>
    </div>
		<ConstructionTape />
  </main>
</BaseLayout>
