---
const { id, title, description, pubDate } = Astro.props;
---

<a href={id}>
  <p
    class="text-neutral-600 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700"
  >
    [{pubDate.toLocaleDateString()}]
    <span class="text-neutral-900 dark:text-neutral-200 font-semibold"
      >{title}</span
    >
    -
    {description}
  </p>
</a>
