---
const { id, ctf, rank, date } = Astro.props;
---

<a href={id}>
  <p
    class="text-neutral-600 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700"
  >
    [{date.toLocaleDateString()}]
    <span class="text-neutral-900 dark:text-neutral-200 font-semibold"
      >{ctf}</span
    >
    -
    {rank}
  </p>
</a>
