---
const { id, title, description, pubDate, modDate } = Astro.props;
---
<a href={`blog/${id}`}>
<div
  class="border-1 border-neutral-300 rounded-xs px-2 py-1 flex flex-col gap-0"
>
  <p class="text-sm">{pubDate.toLocaleDateString()}</p>
  <h1 class="text-xl font-semibold text-neutral-900 dark:text-neutral-200">
    {title}
  </h1>
  {
    description && (
      <p class="text-neutral-700 dark:text-neutral-300">{description}</p>
    )
  }
</div>
</a>